@use "@/app/styles/utility" as utility;

.manage_budget_page {
  width: 100%;
  display: flex;
  flex-direction: column;

  .header {
    text-align: center;
  }

  .body {
    @include utility.flex-col-fill;
  }

  .chart_section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .table_header {
    margin-bottom: 10px;
  }
}
