@use "@/app/styles/utility" as utility;
@use "@/app/styles/breakpoints" as bp;

.manage_budget_page {
  @include utility.flex-col-fill;
  min-width: 0;

  .header {
    text-align: center;
  }

  .body {
    @include utility.flex-col-fill;
  }

  .chart_section {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;

    @include bp.tablet {
      flex-direction: column;
      flex: none;
    }
  }

  .table_header {
    margin-bottom: 10px;
  }
}
