@use "@/app/styles/utility" as utility;

.add_user_form {
  @include utility.flex-column(16px);
  width: 70%;
  margin: 0 auto;

  .add_user_form_field {
    @include utility.flex-column(6px);
  }

  .add_user_form_actions {
    display: flex;
    justify-content: center;
    margin-top: 8px;
  }
}
