@use "@/app/styles/utility" as utility;
@use "@/app/styles/breakpoints" as bp;

.budget_container {
  text-align: center;
  @include utility.flex-column;
  justify-content: center;
  width: 34%;
  min-width: 0;
  padding: 10px;

  @include bp.tablet {
    width: 100%;
  }

  .header {
    @include utility.flex-between;
    flex-wrap: wrap;
    gap: 10px;
  }

  .month_picker {
    width: 120px;
    :global(.p-iftalabel) {
      height: 40px;
    }
    :global(.p-datepicker) {
      height: 100%;
    }
    :global(.p-inputtext) {
      width: 100%;
    }
  }

  .budget_body {
    position: relative;
    @include utility.flex-center;

    h2, h3 {
      position: absolute;
      top: 50%;
    }
  }

  .budget_body_loading {
    max-width: 297px;
    max-height: 297px;
    width: 100%;
    height: 100%;
  }

  .empty_budget_section {
    height: 300px;
    display: flex;
    justify-content: center;

    @include bp.mobile {
      height: 200px;
    }
  }
}
