.idea

#Client
client/node_modules
client/.env

client/logs
client/*.log
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/pnpm-debug.log*
client/lerna-debug.log*

client/.DS_Store
client/dist
client/dist-ssr
client/coverage
client/*.local

client/cypress/videos/
client/cypress/screenshots/


# Server
server/dist
server/node_modules
server/.env