.expense_chart_container {
  width: 64%;
  height: 100%;

  :global(.p-card-body) {
    height: 100%;
  }

  :global(.p-card-content) {
    height: 100%;
  }

  .expense_chart {
    height: 100%;
  }
}
