@use "@/app/styles/utility" as utility;


.dashboard_page {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;

  .body {
    @include utility.flex-col-fill;

    .expenses_budget_section {
      display: flex;
      justify-content: space-between;
    }
  }
}
