@use "@/app/styles/utility" as utility;
@use "@/app/styles/breakpoints" as bp;


.dashboard_page {
  @include utility.flex-col-fill;
  min-width: 0;

  .body {
    @include utility.flex-col-fill;

    .expenses_budget_section {
      display: flex;
      justify-content: space-between;
      gap: 10px;

      @include bp.tablet {
        flex-direction: column;
        flex: none;
      }
    }
  }
}
