.dashboard_page {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;

  .body {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;

    .expenses_budget_section {
      display: flex;
      justify-content: space-between;
    }
  }
}
