.dashboard_page {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;

  .header {
    text-align: center;
  }

  .dashboard_page_body {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;

    .expenses_budget_section {
      margin-top: 10px;
      display: flex;
      justify-content: space-between;

    }
  }
}
