.budget_container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 34%;

  .budget_body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
      position: absolute;
      top: 50%;
    }
  }
  .budget_body_loading {
    max-width: 250px;
    max-height: 250px;
    width: 100%;
    height: 100%;
  }
}
