.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  height: calc(100vh - 30px);
  padding: 10px 5px;

  :global(.p-menu-list) {
    flex: 1;
  }
}

.navbar_header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navbar_header_footer {
  margin-top: auto;
  display: flex;
  align-items: center;
  flex-direction: column;

  .avatar_wrapper {
    color: #fff;
    text-decoration: none;
    width: 80px;
    height: 80px;
    border-radius: 50%;

    img {
      width: 100%;
      border-radius: inherit;
    }
  }

  .avatar_wrapper:has(i) {
    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}
