.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  height: calc(100vh - 30px);
  padding: 10px 5px;

  :global(.p-menu-list) {
    flex: 1;
  }
}

.navbar_header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


.btn_logout {
  margin-top: auto;
}

.navbar_footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;

  .avatar_wrapper {
    display: flex;
    align-items: center;

    .avatar_link {
      color: #fff;
      text-decoration: none;
    }

    .user_meta {
      display: flex;
      flex-direction: column;
      margin-left: 5px;

      span {
        &:first-child {
          font-weight: 700;
        }
        &:last-child {
          font-size: 0.9rem;
        }
      }
    }
  }


}
