@use "@/app/styles/utility" as utility;
@use "@/app/styles/breakpoints" as bp;

.navbar {
  @include utility.flex-column;
  justify-content: space-between;
  width: 200px;
  height: calc(100vh - 30px);
  padding: 10px 5px;

  :global(.p-menu-list) {
    flex: 1;
  }

  @include bp.tablet {
    width: 64px !important;
    min-width: 0 !important;

    :global(.p-menu-item-content),
    :global(.p-menuitem-content) {
      justify-content: center;
    }

    :global(.p-menu-item-link) {
      justify-content: center;
      padding: 10px;
    }
  }
}

.expanded_only {
  @include bp.tablet {
    display: none !important;
  }
}

.item_label {
  margin-left: 0.5rem;
}

.navbar_header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  @include bp.tablet {
    justify-content: center;
  }
}

.navbar_footer {
  margin-top: auto;
  @include utility.flex-between;

  @include bp.tablet {
    flex-direction: column;
    gap: 10px;
  }

  .avatar_wrapper {
    display: flex;
    align-items: center;

    .avatar_link {
      color: #fff;
      text-decoration: none;
    }

    .user_meta {
      @include utility.flex-column;
      margin-left: 5px;

      span {
        &:first-child {
          font-weight: 700;
        }
        &:last-child {
          font-size: 0.9rem;
        }
      }
    }
  }
}
